table{
  background-color: #808080;
  margin: auto;
}
#result{
  width: 190px;
}
.btn{
  width: 34px;
  height: 32px;
}
#equa{
  width: 34px;
  height: 66px;
}
#zero{
  width: 72px;
  height: 32px;
}
